<div class="row">
    <div class="col-md-6">
        <h2 class="header">My Expenses</h2>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Expense name: </mat-label>
                    <input matInput id="new-expense" #expenseName placeholder="Expense Name" />
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label for="new-expense-amount">Expense Amount: </mat-label>
                    <input matInput type="number" id="new-expense-amount" #expenseAmount placeholder="Amount in Rs" />
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label for="expense-category">Category</mat-label>
                    <mat-select name="category" id="category" #category>
                        <mat-option value="Fuel">Fuel</mat-option>
                        <mat-option value="Groceries">Groceries</mat-option>
                        <mat-option value="Entertainment">Entertainment</mat-option>
                        <mat-option value="Medicine">Medicine</mat-option>
                        <mat-option value="Household"> Household</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <label for="total-expense" style="text-align: center;">Total Expense </label>
                <div class="total-expense">{{totalExpense}}</div>
            </div>
        </div>
    </div>

    <!-- (click) passes input value to add() and then clears the input -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="add-button" (click)="add(expenseName.value,expenseAmount.value,category.value); expenseName.value='';expenseAmount.value=''">
          Add Expense
        </button>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>




</div>
<div class="container">
    <div class="row">
        <ul class="expenses">
            <li *ngFor="let expense of expenses">
                <a routerLink="/details/{{expense.id}}">
                    <span class="badge">{{expense.name}}</span> ₹ {{expense.amount}}</a>
                <button class="delete" title="delete expense" (click)="delete(expense)">x</button>
            </li>
        </ul>
    </div>
</div>
<!-- <app-display-expenses [expense]="selectedExpense"></app-display-expenses> -->