<div *ngIf="expense">
    <h2>{{expense.name | uppercase}} Details</h2>
    <div>
        <mat-form-field>
            <mat-label for="expense-amount">Expense Amount: </mat-label>
            <input matInput id="expense-amount" [(ngModel)]="expense.amount" placeholder="Amount" type="number">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="expense-category">Category</mat-label>
            <mat-select name="category" id="category" [(ngModel)]="expense.category">
                <mat-option value="Fuel">Fuel</mat-option>
                <mat-option value="Groceries">Groceries</mat-option>
                <mat-option value="Entertainment">Entertainment</mat-option>
                <mat-option value="Medicine">Medicine</mat-option>
                <mat-option value="Household"> Household</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label for="expense-name">Expense name: </mat-label>
            <input matInput id="expense-name" [(ngModel)]="expense.name" placeholder="name">
        </mat-form-field>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>

</div>