<div *ngIf="expense">
    <h2>{{expense.name | uppercase}} Details</h2>
    <div>
      <label for="expense-amount">Expense Amount: </label>
      <input id="expense-amount" [(ngModel)]="expense.amount" placeholder="Amount" type="number">
    </div>
    <div>
      <label for="expense-name">Expense name: </label>
      <input id="expense-name" [(ngModel)]="expense.name" placeholder="name">
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>

</div>

