<div class="row">
  <div class="col-sm-6">
    <div class="recent-expenses">
      <h2>Recent Expenses</h2>
      <div class="expense-menu">
        <ul>
          <li *ngFor="let rexpense of recentExpenses">
            <a routerLink="/details/{{rexpense.id}}">
              {{rexpense.name}} <i>{{rexpense.category}}</i>  ₹{{rexpense.amount}} ( {{rexpense.date | date:'dd-MM-yyyy'}} )
            </a>
          </li>
        </ul>
    
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="top-expenses">
      <h2>Top Expenses</h2>
      <div class="expense-menu">
        <ul>
          <li *ngFor="let expense of expenses">
            <a routerLink="/details/{{expense.id}}">
              {{expense.name}} <i>{{expense.category}}</i> ₹{{expense.amount}} ( {{expense.date | date:'dd-MM-yyyy'}} )
            </a>
          </li>
        </ul>
    
      </div>
    </div>
  </div>
</div>

<app-expense-search></app-expense-search>